@import "../../Styles/fonts";

.hero {
  position: relative;
  display: flex;
  height: 80vh;
  width: 100%;
  color: white;
  z-index: -1;
  overflow: hidden;
  text-shadow: 1px 1px 1px  black;
  @media screen and (max-width: 1200px) {
    flex-direction: column;

    height: 100vh;
    section {
      position: relative;
      &:nth-child(1) {
        height: 100vh;
        z-index: 2;
        box-shadow: 0 2px 10px 2px rgba(203, 36, 36, 0.5);
        opacity: 1;
        background: transparent;

      }
      &:nth-child(2) {
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        position: absolute;
       
      }
    }
  }

  img {
    position: absolute;
    height: 150%;
    left: 0px;
    bottom: -100px;
    filter: opacity(0.3) drop-shadow(0 0 0 rgb(203, 36, 36));
    object-fit: cover;
    width: 100%;
  }
}
