.contentRight {
    position: relative;
    width: 70%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      144deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(203, 203, 203, 1) 100%
    );
  }
  @media screen and (max-width: 1200px) {
    
   
      .contentRight {
        width: 100%;
      }
  
  }

  